<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TravianBot" providerName="Access" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|TravianBot.accdb;Persist Security Info=False;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
